<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,body)">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/itemlist.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/itemdetail.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/favorite.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/order.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/user-regist.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/client_input/clientaddress_input.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/client_input/clientpayment_input.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/client_input/clientcheck_input.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/client_input/clientcomplete_input.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
<!--		<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/review_input.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/review_check.css}" />


</head>
<!--/* ヘッダー */-->
<header>
	<div th:replace="~{common/header :: layout-header}"></div>
</header>

<!--/* ナビゲーションバー */-->
<!--<nav th:if="${session.user == null or session.user.authority == 2}" class="navi_area">-->
<!--	<div th:replace="~{common/menu :: layout-menu}"></div>-->
<!--</nav>-->

<title th:replace="${title}"></title>

<body class="user-detail-clean-body">
	<div th:replace="${body}"></div>


<!--		/* フッター */-->
	<footer>
		<div th:replace="~{common/footer :: layout-footer}"></div>
	</footer>

</body>

</html>