<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{user}+#{title.detail}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="user user_detail">
	<h2 th:class="title" th:text="#{user}+#{title.detail}"></h2>

	<div class="info_form_area">
		<div class="detail_area">
			<ul class="input_list" th:object=${userBean}>
				<li>
					<span class="input_title">[[#{userForm.email}]]</span>
					<span class="input_value" th:text="*{email}"></span>
				</li>
				<li>
					<span class="input_title">[[#{userForm.name}]]</span>
					<span class="input_value" th:text="*{name}"></span>
				</li>
				<li>
					<span class="input_title">[[#{userForm.postalCode}]]</span>
					<span class="input_value" th:text="*{postalCode}"></span>
				</li>
				<li>
					<span class="input_title">[[#{userForm.address}]]</span>
					<span class="input_value" th:text="*{address}"></span>
				</li>
				<li>
					<span class="input_title">[[#{userForm.phoneNumber}]]</span>
					<span class="input_value" th:text="*{phoneNumber}"></span>
				</li>
			</ul>
		</div>

		<div class="detail_button_area">
			<form th:action="@{/}" method="post">
				<input type="submit" value="戻る" class="back_button" />
			</form>
			<form th:action="@{/client/user/update/input}" method="post">
				<input type="submit" value="変更" />
			</form>
			<form th:action="@{/client/user/delete/check}" method="post">
				<input type="submit" value="退会" class="delete" />
			</form>
		</div>
	</div>
</body>

</html>