<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{user}+#{title.update.input}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body th:object="${userForm}" class="user user_update_input">
	<h2 th:class="title" th:text="#{user}+#{title.update.input}"></h2>
	<p th:class="input_message" th:text="#{msg.update.input}"></p>
	<div class="user_info_form_area">
		<form th:action="@{/client/user/update/check}" method="post" class="user_info_form" th:object="${userForm}">

			<th:block th:if="${#fields.hasErrors()}">
				<ul class="error_list">
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</th:block>
			<ul class="input_list">
				<li>
					<label><span class="input_title">[[#{userForm.email}]]</span></label>
					<input type="text" th:field="*{email}" />
				</li>
				<li>
					<label><span class="input_title">[[#{userForm.password}]]</span></label>
					<input type="password" th:field="*{password}" />
				</li>
				<li>
					<label><span class="input_title">[[#{userForm.name}]]</span></label>
					<input type="text" th:field="*{name}" />
				</li>
				<li>
					<label><span class="input_title">[[#{userForm.postalCode}]]</span></label>
					<input type="text" th:field="*{postalCode}" />
				</li>
				<li>
					<label><span class="input_title">[[#{userForm.address}]]</span></label>
					<textarea rows="6" th:field="*{address}"></textarea>
				</li>
				<li>
					<label><span class="input_title">[[#{userForm.phoneNumber}]]</span></label>
					<input type="text" th:field="*{phoneNumber}" />
				</li>
			</ul>
			<input type="hidden" th:field="*{authority}" />
			<input type="hidden" th:field="*{id}" />
			<input type="submit" value="確認" class="send_button" />
		</form>
		<form th:action="@{/client/user/detail}" method="post">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
</body>

</html>