<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{user}+#{title.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_list">
	<h2 th:class="title" th:text="#{user}+#{title.list}"></h2>
	<form th:if="${registrable}" th:action="@{/admin/user/regist/input}" method="post" class="sign_up_form">
		<input type="submit" value="会員新規登録" class="menu_button" />
	</form>

	<!--/* 追加登録不可メッセージ */-->
	<ul class="error_message" th:unless="${registrable}">
	<br/>
		<li class="error_msg">
			<span th:text="#{msg.cannot.regist(#{user})}"></span>
		</li>
	</ul>

	<table class="list_table" th:if="!${#lists.isEmpty(users)}">
		<tr>
			<th>[[#{data.id}]]</th>
			<th>[[#{userForm.name}]]</th>
			<th>[[#{userForm.email}]]</th>
			<th>[[#{data.operate}]]</th>

		</tr>
		<tr th:each="user: ${users}">
			<td th:text="${user.id}"></td>
			<td><a th:href="@{/admin/user/detail/{id}(id=${user.id})}" th:text="${user.name}"></a></td>
			<td th:text="${user.email}"></td>
			<td>
				<form th:action="@{/admin/user/update/input/{id}(id=${user.id})}" method="post">
					<input type="submit" value="変更" />
				</form>
				<form th:action="@{/admin/user/delete/check/{id}(id=${user.id})}" method="post">
					<input type="submit" value="削除" class="delete" disabled th:if="${user.id==session.user.id}" />
					<input type="submit" value="削除" class="delete" th:unless="${user.id==session.user.id}" />
				</form>
			</td>
		</tr>
	</table>
	<!--/* ページリンク */-->
	<ul class="paging" th:if="!${#lists.isEmpty(users)}">
		<!-- 先頭のページリンク表示処理 --> 
		<!--1ページ目の場合はクラスの名前をdisabledに設定--> 
		<li th:class="${pages.first} ? 'disabled':''">
			<!--1ページ目の場合は<<を表示-->
			<span th:if="${pages.first}">&lt;&lt;</span>
			<!-- 1ページ目ではない場合、１ページ目のリンクを表示-->
			<a th:if="${not pages.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
		</li>
		<!--ページ番号指定のリンク表示処理--> 
		<!-- #numbersのsequence()メソッドを使用して配列を作成し、被繰り返し変数として利用 -->
		<li th:each='i : ${#numbers.sequence(0, pages.totalPages-1)}' th:class="(${i}==${pages.number})? 'active' : ''">
			<span th:if='${i}==${pages.number}' th:text='${i+1}'>1</span>
			<a th:if='${i}!=${pages.number}' th:href="@{${url}(page=${i})}">
				<span th:text='${i+1}'>1</span>
			</a>
		</li>
		<!-- 末尾ページのリンク --> 
		<!--1ページ目の場合はクラスの名前をdisabledに設定--> 
		<li th:class="${pages.last} ? 'disabled':''">
			<!--末尾のページの場合は>>を表示-->
			<span th:if="${pages.last}">&gt;&gt;</span>
			<!-- 末尾ページではない場合、末尾ページへのリンクを表示-->
			<a th:if="${not pages.last}" th:href="@{${url}(page=(${pages.totalPages}-1))}">&gt;&gt;</a>
		</li>
	</ul>
</body>

</html>