<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{admin.menu}+' | '+ #{shop.title}"> </title>
</head>

<body class="admin admin_menu">
	<div class="admin_menu">
		<dl class="admin_menu_list">
			<dt class="title_area_no_shadow" th:text="#{admin.menu}"></dt>
			<div class="link_are_containe">
			<dd class="link_area"><a th:href="@{/admin/user/list}" th:text="#{admin.menu.user.list}"></a></dd>
			<th:block th:if="${session.user.authority == 1}">
				<dd class="link_area"><a th:href="@{/admin/order/list}" th:text="#{admin.menu.order.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/item/list}" th:text="#{admin.menu.item.list}"></a></dd>
				<dd class="link_area"><a th:href="@{/admin/category/list}" th:text="#{admin.menu.category.list}"></a></dd>
			</th:block>
			</div>
		</dl>
	</div>
</body>

</html>