<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.detail}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="user">
	<h2 th:class="title" th:text="#{order}+#{title.detail}"></h2>

	<div class="info_form_area">
		<table class="detail_table payment">
			<tr>
				<th th;text="#{data.client.order.date}"></th>
				<td th:text="${orders.insertDate}"></td>
			</tr>
			<tr>
				<!--お支払方法-->
				<th th:text="#{paymethod.str}"></th>
				<td th:switch="${orders.payMethod}">
					<span th:case="1" th:text="#{paymethod.credit.str}"></span>
					<span th:case="2" th:text="#{paymethod.bank.str}"></span>
					<span th:case="3" th:text="#{paymethod.onarrival.str}"></span>
					<span th:case="4" th:text="#{paymethod.emoney.str}"></span>
					<span th:case="5" th:text="#{paymethod.convenience.str}"></span>
				</td>
			</tr>
			<tr>
				<th th:text="#{data.address}+#{data.address.postalcode}"></th>
				<td th:text="${orders.postalCode}"></td>
			</tr>
			<tr>
				<th th;text="#{data.address}+#{data.address.address}"></th>
				<td th:text="${orders.address}"></td>
			</tr>
			<tr>
				<th th:text="#{data.address}+#{data.address.name}"></th>
				<td th:text="${orders.name}"></td>
			</tr>
			<tr>
				<th th:text="#{data.address}+#{data.address.phonenumber}"></th>
				<td th:text="${orders.phoneNumber}"></td>
			</tr>
		</table>
		<table class="list_table detail">
			<tr>
				<th th:text="#{data.item.name}"></th>
				<th th:text="#{data.unit.price}"></th>
				<th th:text="#{data.order.num}"></th>
				<th th:text="#{data.subtotal}"></th>
			</tr>
			<tr th:each="orderItem: ${orderItem}">
				<td th:text="${orderItem.name}"></td>
				<td th:text="${orderItem.price}"></td>
				<td th:text="${orderItem.orderNum}"></td>
				<td th:text="${orderItem.subtotal}"></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td class="total" th:text="#{data.total}"></td>
				<td class="total" th:text="${total}"></td>
			</tr>
		</table>
		<form th:action="@{/client/order/list}" method="get" class="detail_button_area">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
</body>

</html>