<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block_index :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{top}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="index_origin">
	<!--トップ写真-->
	<div class="top_page">
		<div class="top_page_consept_1">
			<div class="top_page_consept">
				<p class="top_page_mini">2026 Spring Makeup Collection</p>
				<div class="top_page_1">
					<p>Make everyday</p>
					<h2><span class="hero-title-main">Petal veil<br>for airy skin</span></h2>
				</div>
				<div class="top_page_2">
					<h3>肌に溶ける淡い色、光だけを残すような艶<br>
						花びらの気配をそっとまとう、春限定のメイクアップコレクション</h3>
				</div>
			</div>
			<div class="hover_button">
				<div class="top_page_consept_button">
					<a class="button_a button-ghost" href="#concept">Read concept</a>
				</div>
				<div class="top_page_consept_button_a">
					<a class="button_a button-ghost_a" href="#product" th:text="#{product.list}">Product List</a>
				</div>
			</div>
		</div>
		<img class="top_photo" th:src="@{/images/image_top_photo.jpg}" alt="トップ写真">
	</div>


	<!--ブランドコンセプト-->
	<section class="brand_concept" id="concept">
		<div class="brand_concept_char">
			<p class="brand_concept_char_p">Sheer &amp; luminous</p>
			<div class="brand_concept_char_mozi">
				<h2>Brand Concept</h2>
				<h3>日常のラグジュアリー</h3>
			</div>
			<div class="brand_concept_char_mozi2">
				<p>厳選された素材と洗練された色彩が<br>あなたの個性にそっと寄り添います</h3>
					<!--<h3>鏡に向き合う時間が、もっと愛おしく<br>誇らしくなるように</h3>-->
			</div>
		</div>
		<div class="brand_concept_photo">
			<img class="brand_concept_photo_1" th:src="@{/images/top_image_two_1.jpg}" alt="コンセプト写真">
		</div>
	</section>


	<!--売れ筋商品-->
	<div class="title_best_selling">
		<!--売れ筋商品-->
		<span class="title_best_selling_sub" th:if="${sortType==2 || sortType==null}"
			th:text="#{sort.hotsell.title}"></span>
		<h2 class="title_best_selling_main">Best Selling Products</h2>
		<span class="title_best_selling_sub" th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>

	</div>

	<div th:if="${#lists.isEmpty(items)}">
		<!--閲覧できる商品情報がありません。-->
		<p th:text="#{msg.client.item.list.none}"></p>
	</div>

	<div class="product_grid_selling_item">
		<div class="product_grid_selling">
			<!--表示数-->
			<th:block th:each="item, status: ${items}" th:if="${status.count le 5}">
				<article class="item_card_list_selling">
					<div class="selling_image">
						<a th:href="@{/client/item/detail/{id}(id=${item.id})}">
							<img th:src="@{/images/photo/{imgName}(imgName=${item.image})}"
								th:if="${item.image != null}" />
							<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" />
						</a>
					</div>

					<!--商品情報-->
					<div>
						<p class="item_name_a_list" th:text="${item.name}"></p>
						<p class="item_price_a" th:text="'&yen;'+${item.price}"></p>
						<span class="item_category_a" th:text="${item.category.name}"></span>
						<div class="item_form">
							<div class="button_all_a">
								<div class="favorite_button_list">
									<form th:action="@{/client/favorite/update}" method="post">
										<input type="hidden" name="itemId" th:value="${item.id}">
										<button type="submit"><img th:src="@{/images/faviorite_blank.svg}"></button>
									</form>
								</div>
								<div class="cart_a">
									<!-- <form th:action="@{/client/basket/add}" method="post" th:if="*{stock > 0}">-->
									<form th:action="@{/client/basket/add}" method="post">
										<input type="hidden" name="id" th:value="${item.id}">
										<button type="submit" class="cart-button_a">ADD TO CART</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</article>
			</th:block>
		</div>
	</div>


	<!--カテゴリ-->
	<div id="product" class="product">
		<div class="category_tittle_waku">
			<p>カテゴリ</p>
			<h2 class="category_tittle">Category</h2>
		</div>
		<h3 class="category_tittle_sub">リップ、アイカラー、ファンデーションまで。 写真のムードごとに<br>気になるカテゴリへ自然にたどり着ける構成に整えました。</h3>
	</div>
	<div class="category_one">
		<div th:each="category: ${categories}" class="category_list_a">
			<a th:href="@{/client/item/list/category/{categoryId}(categoryId=${category.id})}"
				th:value="${category.id}">
				<img th:src="@{/images/top/category/top_image_{imgName}.jpg(imgName=${category.id})}">
			</a>
			<span class="category_name" th:text="${category.name}"></span>
		</div>
	</div>


	<div class="line-title">
		<span>・・・・・・・・・</span>
	</div>

	<!--ーーーーーーーーー-->
	<!--ログインしてないときの処理-->
	<div class="notlogin_top">
		<th:block th:if="${session.user} == null">
			<h2 th:text="#{msg.client.item.list.none}"></h2>
			<p>【無料】新規会員登録で、お買い物がもっと便利に！</p>
			<p>会員登録をしていただくと、以下の便利な限定機能をご利用いただけます</p>

			<ul>おすすめ商品：あなたにぴったりのアイテムをご提案</ul>
			<ul>レビュー数ランキング：みんなが注目している人気商品が一目でわかる</ul>
			<ul>閲覧履歴：前に気になった商品をいつでもチェック</ul>

			<p>ぜひご登録のうえ、お買い物をお楽しみください</p>
		</th:block>
	</div>
	<!--ログインしてるときの処理-->
	<th:block th:if="${session.user} != null">
		<!--ーーーーーーーーー-->

		<!--おすすめ-->
		<div class="title_recommended_items">
			<p>おすすめ商品</p>
			<h2 class="title_recommended_items_title">
				<span th:text="#{sort.recommend.title}"></span>
			</h2>
		</div>

		<div class="product_grid_recommended">
			<div class="product_grid_recommended_a">
				<!--表示数-->
				<th:block th:each="recommend, status: ${recommends}" th:if="${status.count le 4}">
					<article class="item_card_list_selling">
						<div class="selling_image">
							<a th:href="@{/client/item/detail/}+${recommend.item.id}">
								<img th:src="@{/images/photo/{imgName}(imgName=${recommend.item.image})}"
									th:if="${recommend.item.image != null}" />
								<img th:src="@{/images/common/no_image.jpg}" th:if="${recommend.item.image == null}" />
							</a>
						</div>

						<!--商品情報-->
						<div>
							<p class="item_name_a_list" th:text="${recommend.item.name}"></p>
							<p class="item_price_a" th:text="'&yen;'+${recommend.item.price}"></p>
							<span class="item_category_a" th:text="${recommend.item.category.name}"></span>
							<div class="item_form">
								<div class="button_all_a">
									<div class="favorite_button_list">
										<form th:action="@{/client/favorite/update}" method="post">
											<input type="hidden" name="itemId" th:value="${recommend.item.id}">
											<button type="submit"><img th:src="@{/images/faviorite_blank.svg}"></button>
										</form>
									</div>
									<div class="cart_a">
										<!-- <form th:action="@{/client/basket/add}" method="post" th:if="*{stock > 0}">-->
										<form th:action="@{/client/basket/add}" method="post">
											<input type="hidden" name="id" th:value="${recommend.item.id}">
											<button type="submit" class="cart-button_a">ADD TO CART</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</article>
				</th:block>

			</div>
		</div>
		<!--	<div class="item_list">-->
		<!--	<th:block th:each="recommend, status: ${recommends}" th:if="${status.count le 4}">-->
		<!--					/* 1件分の商品情報 */-->
		<!--					<div class="item">-->
		<!--		<div class="item_name" th:text="${recommend.item.name}"></div>-->
		<!--		<a th:href="@{/client/item/detail/}+${recommend.item.id}">-->

		<!--			<img th:src="@{/images/photo/{imgName}(imgName=${recommend.item.image})}"-->
		<!--				th:if="${recommend.item.image != null}" />"-->


		<!--			<img th:src="@{/images/common/no_image.jpg}" th:if="${recommend.item.image == null}" />-->
		<!--							</a>-->
		<!--						</div>-->
		<!--					</th:block>-->
		<!--				</div>-->


		<!--レビュー数ランキング-->
		<div class="title_review_ranking">
			<p class="bakayoshida">レビュー数ランキング</p>
			<h2 class="title_review_ranking_title">
				<span th:text="#{sort.reviewRanking.title}"></span>
			</h2>
		</div>

		<div th:if="${#lists.isEmpty(rankingList)}">
			<p th:text="#{msg.client.item.list.none}"></p>
		</div>

		<div class="review_ranking_all">
			<div class="product_grid_recommended_a">
				<!--１位の表示数-->
				<th:block th:each="reviews, status: ${rankingList}" th:if="${status.count le 1}">
					<article class="review_ranking_list_one">
						<div class="selling_image">
							<a th:href="@{/client/item/detail/}+${reviews.item.id}">
								<img th:src="@{/images/photo/{imgName}(imgName=${reviews.item.image})}"
									th:if="${reviews.item.image != null}" />
								<img th:src="@{/images/common/no_image.jpg}" th:if="${reviews.item.image == null}" />
							</a>
						</div>

						<!--１位の商品情報-->
						<div>
							<p class="item_name_a_list" th:text="${reviews.item.name}"></p>
							<p class="item_price_a" th:text="'&yen;'+${reviews.item.price}"></p>
							<span class="item_category_a" th:text="${reviews.item.category.name}"></span>
							<div class="item_form">
								<div class="button_all_a">
									<div class="favorite_button_list">
										<form th:action="@{/client/favorite/update}" method="post">
											<input type="hidden" name="itemId" th:value="${reviews.item.id}">
											<button type="submit"><img th:src="@{/images/faviorite_blank.svg}"></button>
										</form>
									</div>
								</div>
								<div class="cart_a">
									<!-- <form th:action="@{/client/basket/add}" method="post" th:if="*{stock > 0}">-->
									<form th:action="@{/client/basket/add}" method="post">
										<input type="hidden" name="id" th:value="${reviews.item.id}">
										<button type="submit" class="cart-button_a">ADD TO CART</button>
									</form>
								</div>
							</div>
						</div>
					</article>
				</th:block>
			</div>

			<!--２位～４位　表示数-->
			<div class="review_ranking_list_ha">
				<th:block th:each="reviews, status: ${rankingList}"
					th:if="${status.count >= 2 and status.count <= 4}">
					<article class="review_ranking_list_two">
						<div class="selling_image_ha">
							<a th:href="@{/client/item/detail/}+${reviews.item.id}">
								<img th:src="@{/images/photo/{imgName}(imgName=${reviews.item.image})}"
									th:if="${reviews.item.image != null}" />
								<img th:src="@{/images/common/no_image.jpg}" th:if="${reviews.item.image == null}" />
							</a>
						</div>

						<!--２位～４位　商品情報-->
						<div class="item_name_a_list_ha">
							<p class="item_name_a_list" th:text="${reviews.item.name}"></p>
							<p class="item_price_a" th:text="'&yen;'+${reviews.item.price}"></p>
							<span class="item_category_a" th:text="${reviews.item.category.name}"></span>
							<div class="item_form">
								<div class="button_all_a">
									<div class="favorite_button_list">
										<form th:action="@{/client/favorite/update}" method="post">
											<input type="hidden" name="itemId" th:value="${reviews.item.id}">
											<button type="submit"><img th:src="@{/images/faviorite_blank.svg}"></button>
										</form>
									</div>
									<div class="cart_a">
										<!-- <form th:action="@{/client/basket/add}" method="post" th:if="*{stock > 0}">-->
										<form th:action="@{/client/basket/add}" method="post">
											<input type="hidden" name="id" th:value="${reviews.item.id}">
											<button type="submit" class="cart-button_a">ADD TO CART</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</article>
				</th:block>
			</div>
		</div>
		<!--/* 1件分の商品情報 */-->
		<!--				<div class="item">-->
		<!--					<div class="item_name" th:text="${reviews.item.name}"></div>-->
		<!--					<a th:href="@{/client/item/detail/}+${reviews.item.id}">-->

		<!--		<img th:src="@{/images/photo/{imgName}(imgName=${reviews.item.image})}"-->
		<!--			th:if="${reviews.item.image != null}" />"-->


		<!--		<img th:src="@{/images/common/no_image.jpg}" th:if="${reviews.item.image == null}" />-->
		<!--					</a>-->
		<!--				</div>-->
		<!--			</th:block>-->
		<!--		</div>-->

		<!--閲覧履歴-->
		<div>
			<h2 class="title">
				<span th:text="#{sort.history.title}"></span>
			</h2>
		</div>
		<div th:if="${#lists.isEmpty(histories)}">
			<p th:text="#{msg.client.item.list.none}"></p>
		</div>
		<div class="item_list">
			<th:block th:each="itemHistories, status: ${histories}" th:if="${status.count le 4}">
				<!--/* 1件分の商品情報 */-->
				<div class="item">
					<div class="item_name" th:text="${itemHistories.item.name}"></div>
					<a th:href="@{/client/item/detail/}+${itemHistories.item.id}">

						<img th:src="@{/images/photo/{imgName}(imgName=${itemHistories.item.image})}"
							th:if="${itemHistories.item.image != null}" />"


						<img th:src="@{/images/common/no_image.jpg}" th:if="${itemHistories.item.image == null}" />
					</a>
				</div>
			</th:block>
		</div>
	</th:block>

</body>

</html>