<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{top}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="user index">
	<!--トップ写真-->
	<div class="top_page">
		<img class="top_photo" th:src="@{/images/image_top_photo.jpg}" alt="トップ写真">
	</div>

	<!--ブランドコンセプト-->
	<div class="brand_concept">
		<div class="brand_concept_char">
			<h1>ブランドコンセプト</h1>
			<h2>日常のラグジュアリー</h2>
			<p>厳選された素材と洗練された色彩が、あなたの個性にそっと寄り添います</p>
			<p>鏡に向き合う時間が、もっと愛おしく、誇らしくなるように</p>
		</div>
		<div class="brand_concept_photo">
			<img class="brand_concept_photo_1" th:src="@{/images/top_image_two.jpg}" alt="コンセプト写真">
		</div>
	</div>

	<!--おすすめ-->


	<!--ランキング-->


	<!--カテゴリ欄	-->
	<div class="header_two">
		<!--商品一覧-->
		<div>
			<a class="shop_list" th:href="@{/client/item/list/1}" th:text="#{item}+#{title.list}">商品一覧</a>
		</div>

		<div th:each="category: ${categories}">
			<a th:href="@{/client/item/list/category}" th:value="${category.id}" th:text="${category.name}"></a>
		</div>
		<!--		<a th:href="@{/client/item/list/category/}" th:value="">リップ</a>-->
		<!--		<a th:href="@{/client/item/list/category/2}">チーク</a>-->
		<!--		<a th:href="@{/client/item/list/category/3}">アイシャドウ</a>-->
		<!--		<a th:href="@{/client/item/list/category/4}">マスカラ</a>-->
		<!--		<a th:href="@{/client/item/list/category/5}">アイライナー</a>-->
		<!--		<a th:href="@{/client/item/list/category/6}">アイブロウ</a>-->
		<!--		<a th:href="@{/client/item/list/category/7}">ファンデーション</a>-->
		<!--		<a th:href="@{/client/item/list/category/8}">下地</a>-->
	</div>

	<div>
		<h2 class="title">
			<span th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>
			<span th:if="${sortType==2 || sortType==null}" th:text="#{sort.hotsell.title}"></span>
		</h2>
	</div>
	<div th:if="${#lists.isEmpty(items)}">
		<p th:text="#{msg.client.item.list.none}"></p>
	</div>
	<div class="item_list">
		<th:block th:each="item, status: ${items}" th:if="${status.count le 10}">
			<!--/* 1件分の商品情報 */-->
			<div class="item">
				<div class="item_name" th:text="${item.name}"></div>
				<a th:href="@{/client/item/detail/}+${item.id}">
					<img th:src="@{/images/{image}(image=${item.image})}" th:if="${item.image != null}" />
					<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" />
				</a>
			</div>
		</th:block>
	</div>

</body>

</html>