@charset "UTF-8";

ul, li{
	margin: 30px;
}

.user_info_credit_area {
	width: 100%;
	margin: 30px;
}

.pay_mozi {
	display: flex;
	margin-left: 100px;
	font-weight: 550;
}

.your_cart {
	padding: 8px 15px;
	font-size: 40px;
	display: flex;
	justify-content: space-around;
}

.input_message_a {
	padding-top: 1px;
	font-size: 15px;
	margin-left: 100px;
}

.send_button_a{
	margin-left: 60px;
}