<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{category}+#{title.input.check}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin category_regist_check">
	<h2 th:class="title" th:text="#{category}+#{title.input.check}"></h2>
	<p th:class="check_message" th:text="#{msg.regist.check}"></p>

	<div class="user_info_form_area" th:object=${categoryForm}>
		<ul class="input_list">
			<li>
				<span class="input_title">[[#{categoryForm.name}]]</span>
				<span class="input_value" th:text="*{name}"></span>
			</li>
			<li>
				<span class="input_title">[[#{categoryForm.description}]]</span>
				<span class="input_value" th:text="*{description}"></span>
			</li>
		</ul>

		<form th:action="@{/admin/category/regist/complete}" method="post" class="user_info_form">
			<input type="submit" value="登録" class="send_button" />
		</form>

		<form th:action="@{/admin/category/regist/input}" method="post">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
</body>

</html>