<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{order}+#{title.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin order_list_admin">
	<h2 th:class="title" th:text="#{order}+#{title.list}"></h2>
	<!--/* 登録なしメッセージ */-->
	<div th:if="${#lists.isEmpty(orders)}">
		<p th:text="#{msg.admin.list.none(#{order})}"></p>
	</div>
	<!--/* 一覧表示 */-->
	<div class="list" th:if="!${#lists.isEmpty(orders)}">
		<table class="list_table order">
			<tr>
				<th>[[#{data.id}]]</th>
				<th>[[#{user}+#{userForm.name}]]</th>
				<th>[[#{data.order.date}]]</th>
				<th>[[#{data.paymethod}]]</th>
				<th>[[#{data.total.price}]]</th>
			</tr>

			<tr th:each="order: ${orders}">
				<td th:text="${order.id}"></td>
				<td>
					<a th:href="@{/admin/order/detail/{id}(id=${order.id})}" th:text="${order.userName}"></a>
				</td>
				<td th:text="${order.insertDate}"></td>
				<td th:switch="${order.payMethod}">
					<span th:case="1">[[#{paymethod.credit.str}]]</span>
					<span th:case="2">[[#{paymethod.bank.str}]]</span>
					<span th:case="3">[[#{paymethod.onarrival.str}]]</span>
					<span th:case="4">[[#{paymethod.emoney.str}]]</span>
					<span th:case="5">[[#{paymethod.convenience.str}]]</span>
				</td>
				<td th:text="${order.total}"></td>
			</tr>
		</table>
		<!--/* ページリンク */-->
		<ul class="paging" th:if="!${#lists.isEmpty(orders)}">
			<!-- 先頭のページリンク表示処理 --> 
			<!--1ページ目の場合はクラスの名前をdisabledに設定--> 
			<li th:class="${pages.first} ? 'disabled':''">
				<!--1ページ目の場合は<<を表示-->
				<span th:if="${pages.first}">&lt;&lt;</span>
				<!-- 1ページ目ではない場合、１ページ目のリンクを表示-->
				<a th:if="${not pages.first}" th:href="@{${url}(page=0)}">&lt;&lt;</a>
			</li>
			<!--ページ番号指定のリンク表示処理--> 
			<!-- #numbersのsequence()メソッドを使用して配列を作成し、被繰り返し変数として利用 -->
			<li th:each='i : ${#numbers.sequence(0, pages.totalPages-1)}'
				th:class="(${i}==${pages.number})? 'active' : ''">
				<span th:if='${i}==${pages.number}' th:text='${i+1}'>1</span>
				<a th:if='${i}!=${pages.number}' th:href="@{${url}(page=${i})}">
					<span th:text='${i+1}'>1</span>
				</a>
			</li>
			<!-- 末尾ページのリンク --> 
			<!--1ページ目の場合はクラスの名前をdisabledに設定--> 
			<li th:class="${pages.last} ? 'disabled':''">
				<!--末尾のページの場合は>>を表示-->
				<span th:if="${pages.last}">&gt;&gt;</span>
				<!-- 末尾ページではない場合、末尾ページへのリンクを表示-->
				<a th:if="${not pages.last}" th:href="@{${url}(page=(${pages.totalPages}-1))}">&gt;&gt;</a>
			</li>
		</ul>
	</div>
</body>

</html>