<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">


<head>
	<title th:text="#{item}+#{title.list}+' | '+ #{shop.title}"></title>
	<meta charset="UTF-8" />

</head>

<body th:object="${loginForm}" class="user item_list">

	<h2 th:class="title" th:text="#{item}+#{title.list}"></h2>

	<div class="sorted_by">
		<span th:if="${sortType==1}" th:text="#{sort.latest.str}"></span>
		<a th:unless="${sortType==1}" th:href="@{/client/item/list/1(categoryId=${categoryId})}"
			th:text="#{sort.latest.str}"></a>

		<span th:if="${sortType==2}" th:text="#{sort.hotsell.str}"></span>
		<a th:unless="${sortType==2}" th:href="@{/client/item/list/2(categoryId=${categoryId})}"
			th:text="#{sort.hotsell.str}"></a>

		<p th:text="#{msg.client.item.list.none}" th:if="${#lists.isEmpty(items)}"></p>

	</div>


	<th:block th:if="!${#lists.isEmpty(items)}">
		<!--			<article class="item_menu">-->
		<!--				<p class="item_image" th:text="#{data.item.image}"></p>-->
		<!--				<p class="item_name" th:text="#{data.item.name}"></p>-->
		<!--				<p class="item_price" th:text="#{data.item.price}"></p>-->
		<!--				<p class="item_category" th:text="#{category}"></p>-->
		<!--				<p class="favorite">お気に入りボタン(仮)</p>-->
		<!--			</article>-->
		<!--/* 商品一覧 */-->
		<div class="list_card">
			<article class="item_card_list" th:each="item, status: ${items}">
				<p th:text="${item.image}"></p>
				<div class="image">
					<img th:src="@{/images/photo/{imgName}(imgName=${item.image})}" th:if="${item.image != null}" />
					<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" />
				</div>
				<p class="item_name"><a th:href="@{/client/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a>
				</p>
				<p class="item_price" th:text="${item.price}"><br></p>
				<p class="item_category" th:text="${item.category.name}"></p>
				<p class="item_form">
				<form th:action="@{/client/favorite/update}" method="post">
					<input type="hidden" name="itemId" th:value="${item.id}">
					<button type="submit">登録・削除</button>
					
				</form>
				</p>
			</article>
		</div>
	</th:block>
</body>

</html>