<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_review :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title th:text="#{title.review.input}+' | '+ #{shop.title}"></title>
</head>

<body class="user">
	<main class="review_form_aaa">

		<!--	<h2 th:class="title" th:text="#{review}+#{input.title.action}"></h2>-->
		<div class="review_form">
			<form class="review_forms" id="reviewForm" th:action="@{/client/review/check}" method="post"
				th:object="${reviewForm}">

				<!--写真-->
				<div class="review_form_photo">
					<img th:src="@{/images/photo/{imgName}(imgName=*{item.image})}">
					<div class="item_name_review_1" th:text="*{item.name}"></div>
				</div>
				<div class="review_form_message">
					<!--評価-->
					<div class="review_input_form">
						<!--エラーメッセージ-->
						<p class="error_msg_review">
							<span th:each="err: ${#fields.detailedErrors()}">
								<span th:text="${err.message}"></span><br>
							</span>
						</p>

						<div><input type="hidden" th:field="*{id}"></div>
						<div><input type="hidden" th:field="*{item.id}"></div>

						<div class="item_name_review" th:text="*{item.name}"></div>

						<div class="review_radio">
							<div class="review_te">
								<p class="select_review">評価を選択</p>
								<span class="must">必須</span>
							</div>
							<div class="line_brown"></div>
							<div class="cont">
								<div class="stars">
									<div class="yoshidabaka">
										<input class="star star-1" id="star-1-2" type="radio" th:field="*{rating}"
											value="1" name="star" />
										<label class="star star-1" for="star-1-2"></label>

										<input class="star star-2" id="star-2-2" type="radio" th:field="*{rating}"
											value="2" name="star" />
										<label class="star star-2" for="star-2-2"></label>

										<input class="star star-3" id="star-3-2" type="radio" th:field="*{rating}"
											value="3" name="star" />
										<label class="star star-3" for="star-3-2"></label>

										<input class="star star-4" id="star-4-2" type="radio" th:field="*{rating}"
											value="4" name="star" />
										<label class="star star-4" for="star-4-2"></label>

										<input class="star star-5" id="star-5-2" type="radio" th:field="*{rating}"
											value="5" name="star" />
										<label class="star star-5" for="star-5-2"></label>
									</div>
								</div>
							</div>

						</div>


						<!--レビュー記入欄-->

						<div class="review_input">
							<div class="review_te">
								<p class="select_review">レビューの入力</p>
								<span class="must">必須</span>
							</div>
							<div class="line_brown"></div>



							<textarea th:field="*{comments}" cols="30" rows="5"></textarea><br>
						</div>
					</div>
				</div>



			</form>
		</div>
		<div class="button_area">

			<form th:action="@{/client/item/detail/{id}(id=${reviewForm.item.id})}" method="get">
				<input type="submit" value="戻る" class="back_button_review_input_wo" />
			</form>

			<input type="submit" value="確認" class="send_button_go_check_review_wo" form="reviewForm" />
		</div>

		<!--		<form >-->
		<!--			<div class="send_button">-->
		<!--				<input type="submit" value="確認" class="send_button_go_check_review" />-->
		<!--			</div>-->
		<!--		</form>-->
		<!--		<form th:action="@{/client/item/detail/{id}(id=${reviewForm.item.id})}" method="get">-->
		<!--			<input type="submit" value="戻る" class="back_button_review_input" />-->
		<!--		</form>-->

	</main>
</body>

</html>