
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{item}+#{title.input}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin item_regist_input">
	<h2 th:class="title" th:text="#{item}+#{title.input}"></h2>
	<p th:class="input_message" th:text="#{msg.regist.input}"></p>

	<div class="user_info_form_area">
		<form th:action="@{/admin/item/regist/check}" enctype="multipart/form-data" method="post"
			class="user_info_form" th:object="${itemForm}">

			<th:block th:if="${#fields.hasErrors()}">
				<ul class="error_list">
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</th:block>
			<ul class="input_list">
				<li>
					<label><span class="input_title">[[#{itemForm.name}]]</span></label>
					<input type="text" th:field="*{name}" />
				</li>
				<li>
					<label><span class="input_title">[[#{itemForm.price}]]</span></label>
					<input type="text" th:field="*{price}" />
				</li>
				<li>
					<label><span class="input_title">[[#{itemForm.stock}]]</span></label>
					<input type="text" th:field="*{stock}" />
				</li>
				<li>
					<label><span class="input_title">[[#{data.category}]]</span></label>
					<select name="categoryId">
						<option th:each="category: ${categories}" th:value="${category.id}"
							th:text="${category.name}" th:selected="${category.id} == *{categoryId}">
						</option>
					</select>
				</li>
				<li>
					<label><span class="input_title">[[#{itemForm.description}]]</span></label>
					<textarea rows="6" th:field="*{description}"></textarea>
				</li>
				<li>
					<label><span class="input_title">[[#{data.item.image}]]</span></label>
					<input type="file" id="upload_file" name="imageFile" />
						<span th:unless="*{#strings.isEmpty(image)}">
							<img th:src="@{/images/{image}(image=*{image})}"></img>
						</span>
						<span th:if="*{#strings.isEmpty(image)}">
							<img th:src="@{/images/common/no_image.jpg}"></img>
						</span>
				</li>
			</ul>
			<input type="submit" value="確認" class="send_button" />
		</form>
		<form th:action="@{/admin/item/list}" method="post">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
</body>

</html>